{% extends 'layout.html' %}
{% block checkout %}
<p class="h3">
  Check Out
</p>
<div class="card">
  <div class="card-body">
    <form method="POST">
      {{ form.csrf_token() }}
      <div class="form-group">
        {{ form.phonenumber.label }}
        {{ form.phonenumber(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-danger btn-block") }}
      <a href="/" class="btn btn-primary btn-block" style="margin-top: 1rem;" role="button">หน้าหลัก</a>

    </form>
  </div>
</div>
{% endblock %}